<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
    <div class="page-info-wrapper">
                <div class="page-info">
                    <div class="page-info-heading"> </br></br></br> </br>ברוך הבא ל </br></div>
                    <div  class="page-info-heading"></br>Yazam<font color="#FF0000">Art</font><!--<script>document.write('<a href="http://' + (location.hostname.indexOf(':')>=0?'['+location.hostname+']':location.hostname) + '">' + location.hostname + '</a>');</script>--></div>
                    
                    <!-- <p>If you are the owner of this website, one of the following things may be occurring:</p>
                    <ul>
                        <li>You have not put any content on your website.</li>
                        <li>Your provider has suspended this page.</li>
                    </ul>
                   -->
                  <!--    <p><b>Please login to <script>document.write('<a href="https://' + (location.hostname.indexOf(':')>=0?'['+location.hostname+']':location.hostname) + ':8443">https://' + (location.hostname.indexOf(':')>=0?'['+location.hostname+']':location.hostname) +':8443</a>');</script> to receive instructions on setting  up your website.</b></p>
                  -->
                  
                </div>
            </div>
    <div class="product-info">
                        <div class="product-info-heading">What is YazamArt</div>
                        <div class="product-info-content">
                            <p><strong><a href="http://www.plesk.com" target="_blank">YazamArt</a></strong> is an art shop for fine art . <a class="more" href="http://www.plesk.com" target="_blank">Learn more about YazamArt</a>.</p>
                            <ul class="links">
                               <li><a class="" href="" target="_blank">
                                 <a class="product-logo" href="http://yazmart.konim.biz/ps_tazmart/index.php?fc=module&module=ph_simpleblog&controller=list&id_lang=1" target="_blank">
                                <span>בלוג <img src="img/blog.png" alt="YazamArt"> </span></a></li>

                                <li><a class="חנות" href="http://yazmart.konim.biz/ps_yazmart/index.php?id_lang=1" target="_blank"><span>חנות</span></a></li>
                               <!-- <li><a class="forum" href="http://forum.odin.com/" target="_blank"><span>Forum</span></a></li>
                                <li><a class="knowledge-base" href="http://kb.odin.com/" target="_blank"><span>Knowledge Base</span></a></li>
                                <li><a class="facebook" href="https://www.facebook.com/PleskbyOdin" target="_blank"><span>Facebook</span></a></li>
                                <li><a class="twitter" href="https://twitter.com/PleskbyOdin" target="_blank"><span>Twitter</span></a></li>
                                -->
                            </ul>
                        </div>
                    </div>
                </div>
  <!-- start: PAGE FOOTER-->
    <div class="page-footer-wrapper">
        <div class="page-footer">
            This page was generated by <a href="http://www.ygpc.net" target="_blank">YGPC</a>
            <span class="separator"></span>
            <a href="http://www.odin.com" target="_blank" class="copyright">© 2008 YGPC. All rights reserved.</a>
        </div>
    </div>
    <!-- end: PAGE FOOTER-->
</body>
</html>
